<div login-screen>
    <!-- BEGIN LOGIN -->
    <div class="content">
		<!-- BEGIN LOGO -->
	    <div class="logo">
	        <a href="index.html">
	            <img src="assets/images/login_logo.png" alt="" class="margin-bottom-20 margin-top-20" /> 
	        </a>
	    </div>
    	<!-- END LOGO -->
    	
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" novalidate>
            <h3 class="form-title font-green">Đăng nhập</h3>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Tên đăng nhập</label>
                <input on-key-press="vm.login()" when-key-code="13" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Tên đăng nhập" id="username" data-ng-model="vm.user.username" autofocus /> </div>
            <div class="form-group margin-top-20">
                <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                <input on-key-press="vm.login()" when-key-code="13" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật khẩu" id="password" data-ng-model="vm.user.password" /> 
            </div>
            <div class="create-account">
                    <a href="javascript:;" class="">Bạn đã quên mật khẩu?</a>
            </div>
            <div class="form-actions">
                <button type="button" data-ng-click="vm.login()" class="btn green uppercase">Đăng nhập</button>
            </div>
            <div class="login-options">
                Bạn chưa có tài khoản? <a href="javascript:;" class="">Tạo tài khoản mới</a> 
                <!--<label class="rememberme check mt-checkbox mt-checkbox-outline">-->
                    <!--<input type="checkbox" data-ng-model="vm.user.remember" value="1" />Tự động đăng nhập lần tới-->
                    <!--<span></span>-->
                <!--</label>-->
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" novalidate>
            <h3 class="font-green">Bạn quên mật khẩu?</h3>
            <p>Vui lòng nhập địa chỉ email của bạn, hệ thống sẽ gửi mật khẩu về email này.</p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" id="email" data-ng-model="vm.user.email" /> </div>
            <div class="form-actions">
                <button type="button" data-ng-click="vm.backToLogin()" class="btn green btn-outline">Quay về</button>
                <button type="button" data-ng-click="vm.getPassword()" class="btn btn-success uppercase pull-right">Lấy mật khẩu mới</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
	    <div class="copyright"> 2019 © AGRIBank chi nhánh TP Hải Phòng. </div>
</div>