<!-- Chọn những người xứ lý văn bản-->
<div class="row bordered-container">
	<div submenu-toggler><i class="fa fa-long-arrow-right"></i></div>
	<div class="col-md-12">
		<div class="portlet light bordered">
			<!-- <div class="portlet-title">
				<div class="btn-group pull-left margin-top-10 margin-bottom-10">
					<button class="btn btn-default" data-ng-click="vm.newDepartment()"><i class="fa fa-plus-circle"></i>Thêm mới</button>
                  <button class="btn btn-default margin-left-10" data-ng-click="vm.importDepartment()"><i class="fa fa-cloud-upload"></i> Import</button>
                     <button class="btn btn-default margin-left-10" data-ng-click="vm.updateLinePath()"><i class="fa fa-refresh"></i> Cập nhật đường dẫn</button>
                     <a href="#" class="btn btn-default margin-left-10" file-name="'PhongBan.xls'"  ng-click="getFile()" file-download="myBlobObject"><i class="fa fa-file-excel-o"> Export</i></a>
				</div>
			</div> -->
			<div class="portlet-body">
				<div id="letter_container" class="row">
					<div class="col-md-3"
						ng-include="'letter_management/views/widget/side_bar.html'">
					</div>
					<div class="col-md-9 ">
						<div class="box box-primary">
							<div  class="panel panel-default" style="border: solid 1px #cddbd1;">
								<div class="panel-heading">
									<div class="row">
										<h4 class="bold text-center" style="font-size: 20px"><i class="fa fa-cog" aria-hidden="true"></i> Giao xử lý - Văn bản {{vm.letterIn.docOriginCode}}</h4>
									</div>
								</div>
								<div class="panel-body" style="background-color: #FCFCFF">
									<div style="margin-top: 10px" class="row form-group">
										<div class="col-md-12">
											<table class="table add-new-table">
												<tbody>
													<!-- ToDo -->
												<!--<tr>-->
													<!--<th style="width: 13%;"><p class="bold">Số ký hiệu văn bản: </p></th>-->
													<!--<td style="">-->
														<!--<input readonly style="font-size: 18px" class="form-control" type="text" ng-model="vm.letterIn.docOriginCode">-->
													<!--</td>-->
													<!--<td><p class="bold">Số nội bộ: </p></td>-->
													<!--<td style="width: 15%;">-->
														<!--<input readonly style="font-size:18px;" class="form-control" type="text" ng-model="vm.letterIn.docCode">-->
													<!--</td>-->
													<!--<td style="width: 13%;"><p class="bold">Phúc đáp công văn: </p></td>-->
													<!--<td style=""><input readonly style="font-size: 18px" class="form-control" type="text"></td>-->
												<!--</tr>-->
												<tr>
													<td><p class="bold">Tiêu đề văn bản: </p></td>
													<td>
														<input ng-disabled="vm.isDisabled" style="font-size:18px" class="form-control" type="text" ng-model="vm.letterIn.title">
													</td>
												</tr>
												<tr>
													<td><p class="bold">Số văn bản: </p></td>
													<td>
														<input ng-disabled="vm.isDisabled" style="font-size:18px" class="form-control" type="text" ng-model="vm.letterIn.docCode">
													</td>
												</tr>
												<tr>
													<td><p class="bold">Trích yếu: </p></td>
													<td>
														<input ng-disabled="vm.isDisabled" style="font-size:18px" class="form-control" type="text" ng-model="vm.letterIn.briefNote">
													</td>
												</tr>
												<tr>
													<td><p class="bold">File đính kèm: </p>
													</td>
													<td colspan="5" rowspan="1">
														<div class="row">
															<!--<div class="col-md-12 margin-top-20">-->
																<!--<a class="no-content1 display-block link" style="padding: 8px 0 !important; font-weight: 600 !important;" ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="*/*" ngf-max-size="5MB">-->
																	<!--<i class="fa fa-cloud-upload"></i> Chọn tệp tin đính kèm-->
																<!--</a>-->
															<!--</div>-->
															<div class="col-md-12 margin-top-20" ng-if="vm.errorFile != null && vm.errorFile.$error != ''">
																Có lỗi: <span class="bold" ng-if="vm.errorFile.$error == 'maxSize'">Kích thước tệp tin không được lớn hơn {{vm.errorFile.$errorParam}}</span>
																<span class="bold" ng-if="vm.errorFile.$error != null && vm.errorFile.$error != 'maxSize'">Tệp tin {{vm.errorFile.name}} không hợp lệ.</span>
															</div>
															<div class="row" ng-if="vm.letterIn.attachments.length > 0">
																<div class="col-md-12 margin-top-20">
																	<table id="bsTableControl4FilesProcess" bs-table-control="vm.bsTableControl4FilesProcess"></table>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td colspan="1" class="bold text-left" style="font-size:18px;"><i>Giao xử lý văn bản:</i></td>
													<td></td>
												</tr>
												<tr>
													<td><p class="bold">Người giao xử lý: </p></td>
													<td>
														<input style="font-size:18px" class="form-control" readonly type="text" ng-model="vm.assigner.taskOwner.displayName">
													</td>
												</tr>
												<tr>
													<td><p class="bold">Nội dung giao xử lý: </p></td>
													<td>
														<textarea style="font-size:18px" class="form-control" type="text" ng-model="vm.comment"></textarea>
													</td>
												</tr>
												<tr>
													<th><p class="bold">Chủ trì: </p></th>
													<td colspan="2" rowspan="1">
														<input class="form-control"
																	ng-model="vm.selectedTaskOwner.displayName"
																	placeholder="Chủ trì" ng-disabled="true"/>
													</td>
													<td colspan="1" rowspan="1">
														<button class="btn btn-primary" ng-click="vm.selectChairman(0)">Chọn</button>
													</td>
													<td colspan="3" rowspan="1"></td>
												</tr>
												<tr>
													<th><p class="bold">Tham dự xử lý: </p></th>
													<!-- <td colspan="2" rowspan="1">
														<input class="bootstrap form-control"
																	ng-model="vm.selectedTaskOwner.displayName"
																	placeholder="Chọn Người tham gia"/>
													</td> -->
													<td colspan="3" rowspan="1">
														<button class="btn btn-primary" ng-click="vm.selectChairman(1)">Chọn</button>
													</td>
													<td colspan="3" rowspan="1"></td>
												</tr>
												<tr>
													<th colspan="1"></th>
													<td>       
														<table class="table">
															<thead>
																<!-- <tr>
																	<th>Họ và tên</th>
																	<th></th>
																</tr> -->
																<span style="border-bottom:1px solid #c1c1c1;padding-bottom:5px;">
																	Danh sách tham gia xử lý:
																</span>
															</thead>
															<tbody>
																<tr ng-if="!vm.listSelectedTaskOwner || vm.listSelectedTaskOwner.length === 0">
																	<td class="bg-secondary"><p class="text-center">Không có dữ liệu</p></td>
																</tr>
																<tr ng-repeat="item in vm.listSelectedTaskOwner track by $index">
																	<td class="bold">{{item.displayName}}</td>
																	<td><button class="btn btn-danger" ng-click="vm.removeTaskOwner($index)"><i class="fa fa-remove"></i></button></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
	
												<!-- <tr>
													<td ><p class="bold">Gửi tin nhắn: </p></td>
													<td>
														<input class="form-check-input" type="checkbox" id="inlineCheckbox8">
														<label class="form-check-label" for="inlineCheckbox8"> Gửi Email</label>
														<input class="form-check-input" type="checkbox" id="inlineCheckbox9">
														<label class="form-check-label" for="inlineCheckbox8"> Gửi SMS</label>
													</td>
													<td colspan="4" rowspan="1"></td>
												</tr> -->
												<tr>
													<td></td>
													<td>
														<button class="btn btn-primary btn-lg" ng-click="vm.assignProcess()">Thực hiện</button>
														<button class="btn btn-primary btn-lg"ng-click="vm.cancelassignProcess()">Hủy</button>
													</td>
													<td colspan="4" rowspan="1"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                        <!-- end -->
                        
								<div>
										<div class="box box-info">
											<div class="box-header with-border">
												<h6 class="box-title">Ý kiến xử lý</h6>
											</div>
											<div class="box-body">
												<div class="table-responsive">
													<table class="table no-margin table-bordered">
														<thead>
															<tr>
																<th style="width:25%;">Phòng ban</th>
																<th>Ý kiến</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="participate in vm.sortObject(vm.letterIn.task.participates)">
																<td style="width:25%;font-weight: bold;">
																	<p style="margin:0px;">{{participate.taskOwner.displayName}}</p>
																	<div ng-if="participate.role != null && participate.role.name != ''">({{participate.role.name}})</div>
																	<div ng-if="participate.hasOwnerPermission"><button ng-click="vm.addComment(participate);" class="btn btn-primary">Ý kiến</button></div>
																</td>
																<td>
																	<div ng-if="participate.comments.length == 0"><span class="text-secondary">Chưa có ý kiến</span></div>
																	<p ng-repeat="comment in participate.comments | orderBy:'id' : true" style="margin:0px;">
																		<span class="comment" ng-bind-html="comment.comment"></span><span class="text-danger">(tạo bởi {{comment.createdBy}})</span> <span style="padding-left: 10px;cursor: pointer;" ng-if="vm.isShowEdit(comment.createdBy)" ng-click="vm.editComment(comment,participate)"><i class="fa fa-edit" style="color:rgb(71, 180, 44);"></i>Sửa</span></p>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
                        
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="add_comment.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title">Ý kiến xử lý</h4>
        </div>
        <div class="modal-body">
            <div class="row">
			   <div class="col-sm-12 col-md-12">
					<label>Ý kiến của: <strong><small>{{vm.taskComment.participate.taskOwner.displayName}}</small></strong></label>
			   </div>
            </div>
            <div class="row">
			   <div class="col-sm-12 col-md-12">
					<textarea type="text" ng-model="vm.taskComment.comment" class="form-control" placeholder="Nhập ý kiến xử lý"></textarea>
			   </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="vm.confirmAddComment()" class="btn btn-primary" data-dismiss="modal">Gửi</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="select_organization_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="fa fa-building"></i> Chọn đơn vị</h4>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-md-5" style="border: solid 1px #cddbd1;">
                    <div class="row form-group" style="margin-top: 15px">
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="search" ng-keyup="applySearch(search)" placeholder="Tìm theo tên">
                        </div>
                        <div class="col-md-12" style="height:400px; overflow: auto;">
                            <div tree-plugins="search" js-tree="treeConfig" ng-model="vm.treeData" tree="treeInstance" tree-events="select_node:selectNode;ready:readyCB"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-left:30px;border: solid 1px #cddbd1;">
                    <div class="row form-group" style="padding-top: 10px">
                        <div class="col-md-12">
                            <label class="bold">Tên đơn vị: </label>
                            <input readonly data-ng-model="vm.organizationDetail.name" type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="bold">Mã đơn vị: </label>
                            <input readonly data-ng-model="vm.organizationDetail.code" type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label class="bold">đơn vị cha</label>
                            <input readonly data-ng-model="vm.organizationDetail.parent.name" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="select_taskowner_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="fa fa-building"></i> Chọn đơn vị</h4>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-md-12" style="border: solid 1px #cddbd1;">
                    <div class="row form-group" style="margin-top: 15px">
                        <!-- <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="searchDepartment" ng-keyup="applySearchDepartment(search)" placeholder="Tìm theo tên...">
                        </div> -->
                        <div class="col-md-12" style="height:400px; overflow: auto;">
                            <div class="table-responsive">          
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Họ và tên</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.tableDataTaskOwner track by $index">
                                            <td><input type="checkbox" ng-change="onClicked($index,item.selected)" ng-model="item.selected"></td>
                                            <td>{{item.displayName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>
							<!-- <div class="row form-group" style="margin-top: 15px">
								<div class="col-md-12">
									<input type="text" class="form-control" ng-model="search" ng-keyup="applySearch(search)" placeholder="Tìm theo tên">
								</div>
								<div class="col-md-12" style="height:400px; overflow: auto;">
									<div tree-plugins="search" js-tree="treeConfig" ng-model="vm.treeData" tree="treeInstance" tree-events="select_node:selectNode;ready:readyCB"></div>
								</div>
							</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>