<!-- Chọn những người xứ lý văn bản-->
<div class="row bordered-container">
	<div submenu-toggler><i class="fa fa-long-arrow-right"></i></div>
	<div class="col-md-12">
		<div class="portlet light bordered">
			<!-- <div class="portlet-title">
				<div class="btn-group pull-left margin-top-10 margin-bottom-10">
					<button class="btn btn-default" data-ng-click="vm.newDepartment()"><i class="fa fa-plus-circle"></i>Thêm mới</button>
                  <button class="btn btn-default margin-left-10" data-ng-click="vm.importDepartment()"><i class="fa fa-cloud-upload"></i> Import</button>
                     <button class="btn btn-default margin-left-10" data-ng-click="vm.updateLinePath()"><i class="fa fa-refresh"></i> Cập nhật đường dẫn</button>
                     <a href="#" class="btn btn-default margin-left-10" file-name="'PhongBan.xls'"  ng-click="getFile()" file-download="myBlobObject"><i class="fa fa-file-excel-o"> Export</i></a>
				</div>
			</div> -->
			<div class="portlet-body">
				<div id="letter_container" class="row">
					<div class="col-md-3"
						ng-include="'letter_management/views/widget/side_bar.html'">
					</div>
					<div class="col-md-9 ">
						<div ng-include="'document_book_group/views/listing.html'">
                        </div>
                        <!-- end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>