<div class="cus-form-hidden">
	<label class="bold" style="margin-top:0px">Thông tin khác</label>
	<input type="checkbox" ng-click="ShowOrHide()" ng-model="checked"
		style="vertical-align: text-top; margin-left:10px;" aria-label="Toggle ngShow"><br />
	<div class="check-element animate-show-hide" ng-show="checked">

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1">
					<label class="bold nomargin">Lĩnh vực</label>
				</div>
				<div class="col-md-3">
					<ui-select ng-model="vm.letterIn.letterDocField" sortable="true"
						close-on-select="true" ng-disabled="vm.isDisabled()"
						style="width: 100% !important;"> <ui-select-match
						allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices
						repeat="so in vm.documentFields  | propsFilter: {name: $select.search}">
					<div class="bold"
						ng-bind-html="so.name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>

				<div class="col-md-1">
					<label class="bold pull-left nomargin">Hạn trả lời</label>
				</div>
				<div class="col-md-3">
					<input class="form-control" style="font-size: 18px"
						ng-model="vm.letterIn.expiredDate" type="text"
						ng-disabled="vm.isDisabled()" my-date-picker>
				</div>

				<div class="col-md-1">
					<label class="bold nomargin">Độ khẩn</label>
				</div>
				<div class="col-md-3">
					<ui-select ng-model="vm.letterIn.letterDocPriority" sortable="true"
						close-on-select="true" ng-disabled="vm.isDisabled()"
						style="width: 100% !important;"> <ui-select-match
						allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices
						repeat="so in vm.documentPriorities  | propsFilter: {name: $select.search}">
					<div class="bold"
						ng-bind-html="so.name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<label class="bold pull-left nomargin">Đường công văn</label>
				</div>
				<div class="col-md-2">
					<ui-select ng-model="vm.letterIn.letterLine" sortable="true"
						ng-disabled="vm.isDisabled()" close-on-select="true"
						style="width: 100% !important;"> <ui-select-match
						allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices
						repeat="so.id as so in vm.letterLines  | propsFilter: {name: $select.search}">
					<div class="bold"
						ng-bind-html="so.name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
			
				<div class="col-md-1">
					<label class="bold nomargin">Độ mật</label>
				</div>
				<div class="col-md-3">
					<ui-select ng-model="vm.letterIn.letterDocSecurityLevel"
						sortable="true" close-on-select="true"
						ng-disabled="vm.isDisabled()" style="width: 100% !important;">
					<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices
						repeat="so in vm.documentSecurityLevels  | propsFilter: {name: $select.search}">
					<div class="bold"
						ng-bind-html="so.name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>

				<div class="col-md-1">
					<label class="bold nomargin">Loại bản lưu</label>
				</div>
				<div class="col-md-3">
					<ui-select ng-model="vm.letterIn.saveLetterType" sortable="true"
						close-on-select="true" ng-disabled="vm.isDisabled()"
						style="width: 100% !important;"> <ui-select-match
						allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.name}} </ui-select-match> <ui-select-choices
						repeat="so.id as so in vm.saveLetterTypes  | propsFilter: {name: $select.search}">
					<div class="bold"
						ng-bind-html="so.name | highlight: $select.search"></div>
					</ui-select-choices> </ui-select>
				</div>
			</div>
		</div>

		<!-- <div class="row" ng-disabled="vm.isDisabled()">
			<div class="col-md-12">
				<div class="col-md-2">
					<label class="bold nomargin" for="inlineCheckbox2" style="float: left;">Phân luồng</label> 
						<input ng-disabled="vm.isDisabled()" type="checkbox" ng-click="forwardTo()"
						 style="margin: 10px; float: left;" ng-model="check"
						aria-label="Toggle ngShow" ><br />
	
				</div>
				<div class="col-md-2" ng-show="check">
					<ui-select ng-model="vm.forwarderId" sortable="true" ng-disabled="vm.isView"
						close-on-select="true" style="width: 100% !important;">
					<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">
					{{$select.selected.displayName}} </ui-select-match> <ui-select-choices
						repeat="so.id as so in vm.taskOwnersForwarders  | propsFilter: {displayName: $select.search}">
					<div class="bold"
						ng-bind-html="so.displayName | highlight: $select.search">
					</div>
				</div>
			</div>
		</div>  -->

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1">
					<label class="bold nomargin">Ghi chú</label>
				</div>
				<div class="col-md-11">
					<textarea style="font-size: 18px" ng-disabled="vm.isDisabled()"
						class="form-control textarea-size"
						ng-model="vm.letterIn.description"></textarea>
					<div ng-if="vm.letterIn.description.length > 1000">
						<small class="text-danger">Nội dung ghi chú không được quá
							1000 ký tự</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.animate-show-hide.ng-hide {
	opacity: 0;
}

.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
	transition: all linear 0.5s;
}

.check-element {
	border: 1px solid black;
	opacity: 1;
	padding: 10px;
}
.cus-form-hidden label {
	padding-top: 8px;
}

.cus-form-hidden .row .col-md-2 {
	text-align: right;
}

.cus-form-hidden .row {
	padding-top: 10px;
}
</style>