<script>
	function toogleMenu() {
		this.className = "treeview menu-open";
	}
</script>

<style>
.nomargin{
	margin: 0px !important;
}
.page-list{
	white-space: nowrap;
}
.fixed-table-pagination .pagination-info, .fixed-table-pagination .page-list{
	float: left !important;
}
.fixed-table-pagination .page-list{
	padding-top: 5px;
}
.isDisabled > a {
  color: currentColor;
  cursor: not-allowed;
  /* opacity: 0.5; */
  text-decoration: none;
}

.isDisabled > a > i {
	color: #757C7F;
}
.main-sidebar-cus {
	padding-top: 0px;
	min-height: 100%;
	width: 100%;
	z-index: 810;
	margin-left: -2px;
	/*padding-left: 20px;*/
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s
		ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
	transition: transform .3s ease-in-out, width .3s ease-in-out;
}
a {
	background-color: transparent;
}
.sidebar-menu, .main-sidebar-cus .user-panel, .sidebar-menu>li.header {
	white-space: nowrap;
	overflow: hidden;
}

.sidebar-menu>li>a {
	padding: 12px 5px 12px 15px;
	display: block;
}

.sidebar-menu>li>a {
	border-left: 3px solid transparent;
}

.sidebar-menu>li.active>a {
	border-left-color: #3c8dbc;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper, .main-sidebar-cus, .left-side {
	background-color: #222d32;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a, .sidebar-menu>li.menu-open>a
	{
	color: #fff;
	background: #1e282c;
}

.sidebar-menu .treeview-menu>li>a {
	color: #8aa4af;
	/* sơn sửa màu */
	background-color: #036DBC;
}

.sidebar-menu .treeview-menu>li.active>a, .sidebar-menu .treeview-menu>li>a:hover
	{
	color: #fff;
}
</style>

<script>
	function letterIn() {
		var x = document.getElementById("letterIn");
		if (x.className.indexOf("active") == -1) {
			x.className += " active";
		} else {
			x.className = x.className.replace(" active", "");
		}
	}

	function letterOut() {
		var x = document.getElementById("letterOut");
		if (x.className.indexOf("active") == -1) {
			x.className += " active";
		} else {
			x.className = x.className.replace(" active", "");
		}
	}

	function letterSetting() {
		var x = document.getElementById("letterSetting");
		if (x.className.indexOf("active") == -1) {
			x.className += " active";
		} else {
			x.className = x.className.replace(" active", "");
		}
	}

	$(".treeview-menu li a").click(function() {
		$(this).parent().addClass('selected').siblings().removeClass('selected');

		});
</script>

<div class="main-sidebar-cus">
	<section class="sidebar">
		<ul class="sidebar-menu tree" data-widget="tree">
			<li id="letterIn" class="treeview menu-open active"><a onclick="letterIn()">
					<i class="fa fa-files-o icon-muted"></i> <span> Văn bản đến </span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<!-- <li ng-if="!vm.hasClerkRole" ng-class="{'active': _menu_active_item == 'edit_letter_in'}"><a href="#">+ Thêm mới văn bản đến </a></li> -->
					<li ng-if="hasClerkRole" ng-class="{'active': _menu_active_item == 'edit_letter_in'}"><a href="#/edit_letter_in">+ Thêm mới văn bản đến </a></li>
					<li ng-class="{'active': _menu_active_item == 'new_letter_in'}"><a href="#/new_letter_in">+ Văn bản mới vào sổ <span class="badge badge-danger">{{countStepLetterIn[0].quantity}}</span></a></li>
					<li ng-class="{'active': _menu_active_item == 'thread_letter_in'}"><a href="#/thread_letter_in">+ Chờ phân luồng <span class="badge badge-danger">{{countStepLetterIn[1].quantity}}</span></a></li>
					<li ng-class="{'active': _menu_active_item == 'process_letter_in'}"><a href="#/wait_letter_in">+ Văn bản đang xử lý <span class="badge badge-danger">{{countStepLetterIn[2].quantity}}</span></a></li>
					<!-- <li ng-class="{'active': _menu_active_item == 'wait_letter_in'}"><a href="#/wait_letter_in">+ Văn bản chờ giao xử lý <span class="badge badge-danger">{{countStepLetterIn[2].quantity}}</span></a></li>
					<li ng-class="{'active': _menu_active_item == 'process_letter_in'}"><a href="#/process_letter_in">+ Văn bản đang xử lý <span class="badge badge-danger">{{countStepLetterIn[3].quantity}}</span></a></li> -->
					<li ng-class="{'active': _menu_active_item == 'finish_letter_in'}"><a href="#/finish_letter_in">+ Văn bản đã hoàn thành <span class="badge badge-danger">{{countStepLetterIn[4].quantity}}</span></a></li>
					<li ng-class="{'active': _menu_active_item == 'letter_management'}"><a href="#/letter_management">+ Toàn bộ văn bản đến <span class="badge badge-danger">{{countStepLetterIn[5].quantity}}</span></a></li>
				</ul></li>
			<li id="letterOut" class="treeview menu-open active"><a onclick="letterOut()"> <i
					class="fa fa-files-o icon-muted"></i> <span> Văn bản đi </span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<!-- <ul class="treeview-menu">
					<li><a href="#/">+ Dự thảo</a></li>
					<li><a href="#/">+ Văn bản chờ xin ý kiến </a></li>
					<li><a href="#/">+ Văn bản đang chờ xin ý kiến </a></li>
					<li><a href="#/">+ Văn bản đang xin ý kiến </a></li>
					<li><a href="#/">+ Văn bản đi đã phê duyệt </a></li>
					<li><a href="#/">+ Văn bản đi đã xuất bản </a></li>
					<li><a href="#/">+ Tra cứu, tìm kiếm</a></li>
					<li><a href="#/">+ Báo cáo thống kê </a></li>
				</ul> -->
				<ul class="treeview-menu">
					<li ng-if="hasClerkRole" ng-class="{'active': _menu_active_item == 'edit_letter_out'}"><a href="#/edit_letter_out">+ Thêm mới văn bản đi</a></li>
					<li ng-class="{'active': _menu_active_item == 'list_letter_out'}"><a href="#/list_letter_out">+ Văn bản đã chuyển đi <span class="badge badge-danger">{{countStepLetterOut[3].quantity}}</span></a></li>
					<!-- <li><a>+ Văn bản đang chờ xin ý kiến </a></li>
					<li><a>+ Văn bản đang xin ý kiến </a></li>
					<li><a>+ Văn bản đi đã phê duyệt </a></li>
					<li><a>+ Văn bản đi đã xuất bản </a></li>
					<li><a>+ Tra cứu, tìm kiếm</a></li>
					<li><a>+ Báo cáo thống kê </a></li> -->
				</ul>
			</li>
			<li ng-if="isAdmin" id="letterSetting" class="treeview menu-open active"><a onclick="letterSetting()"> <i
					class="fa fa-cogs icon-muted"></i> <span> Thiết lập hệ thống </span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li ng-class="{'active': _menu_active_item == 'document_book_group_letter_in'}"><a href="#/document_book_group_letter_in">+ Nhóm sổ văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'document_book_letter_in'}"><a href="#/document_book_letter_in">+ Sổ văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'task_flow_letter_in'}"><a href="#/task_flow_letter_in">+ Quy trình xử lý văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'document_type_letter_in'}"><a href="#/document_type_letter_in">+ Loại văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'document_field_letter_in'}"><a href="#/document_field_letter_in">+ Lĩnh vực văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'document_priority_letter_in'}"><a href="#/document_priority_letter_in">+ Độ ưu tiên văn bản </a></li>
					<li ng-class="{'active': _menu_active_item == 'document_security_level_letter_in'}"><a href="#/document_security_level_letter_in">+	 Độ mật văn bản </a></li>
				</ul></li>
		</ul>
	</section>
</div>
<style>
.portlet-body > .row > .col-md-3 {
	width: 235px;
	padding: 0;
	margin-top: -20px;
	float: left;
	margin-right: -100%;
}
.sidebar-menu .treeview-menu {
	padding: 0px 0px;
}
</style>