<!-- BEGIN MAIN CONTENT -->
<div class="row dashboard-page">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_field" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục lĩnh vực văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_priority" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục độ khẩn văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_security_level" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục mức độ mật văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_type" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục loại văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_book" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục sổ văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_book_group" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục nhóm sổ văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/positiontitle" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục chức vụ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/civilservantgrade/civilservantgrade-system" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục cấp bậc công chức</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/civilservantcategory/civilservantcategory-system" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục loại công chức</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/department" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục phòng ban</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/religion" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục tôn giáo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/ethnics" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục dân tộc</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/room/listing" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục phòng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/building/listing" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục tòa nhà - dãy nhà</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/labouragreement" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục loại hợp đồng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/organization" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục cơ quan - đơn vị</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/educationdegree" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục bằng cấp</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/academictitle" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục học hàm học vị</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->