<div class="modal-body nopadding">
	<div class="panel panel-default" style="border: solid 1px #cddbd1;">
		<button type="button" class="close" ng-click="$dismiss()" style="margin: 15px;" aria-hidden="true"></button>
		<div class="panel-heading bold" style="font-size: 16px;" ng-if="vm.isNew == true">
			<i class="icon-plus"></i> Thêm mới công việc
		</div>
		<div class="panel-heading bold" style="font-size: 16px;" ng-if="vm.isNew != true">
			<span class="glyphicon glyphicon-pencil"></span> Chỉnh sửa công việc
		</div>

		<div class="panel-body" style="padding-top: 0px;">
			<div class="row">
				<div class="col-md-12 margin-top-10">
					<label class="bold">Thuộc dự án: </label>
					<ui-select ng-model="vm.project" sortable="true" close-on-select="true"
						style="width: 100% !important;">
						<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices repeat="project in vm.projects | propsFilter: {name: $select.search}">
							<div class="bold" ng-bind-html="project.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 margin-top-10">
					<label class="bold">Công việc cha: </label>
					<ui-select ng-model="vm.projecttask.parent" sortable="true" close-on-select="true"
						style="width: 100% !important;">
						<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices
							repeat="projecttask in vm.projecttasks | propsFilter: {name: $select.search}">
							<div class="bold" ng-bind-html="projecttask.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 margin-top-10">
					<label class="bold">Tên công việc: </label> <input data-ng-model="vm.projecttask.name" type="text"
						autofocus="autofocus" class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 margin-top-20 margin-bottom-10">
					<label class="bold">Mô tả: </label>
					<textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.projecttask.description"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="bold">Ngày bắt đầu: </label>
					<div class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="{{format}}"
							ng-model="vm.projecttask.dateStart" is-open="popup1.opened" datepicker-options="dateOptions"
							datetime="dd/MM/yyyy" enable-time="true" ng-required="true" show-button-bar="false"
							close-text="Close" alt-input-formats="altInputFormats" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>

				<div class="col-md-3 col-md-offset-1">
					<label class="bold">Ngày kết thúc: </label>
					<div class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup="{{format}}"
							ng-model="vm.projecttask.dateDue" is-open="popup2.opened" datepicker-options="dateOptions"
							datetime="dd/MM/yyyy" ng-required="true" show-button-bar="false" close-text="Close"
							alt-input-formats="altInputFormats" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open2()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>

				<!-- <div class="col-md-3 col-md-offset-1">
					<label class="bold">Thời gian: </label> <input
						data-ng-model="vm.projecttask.duration" type="number"
						autofocus="autofocus" class="form-control" />
				</div> -->

				<div class="col-md-3 col-md-offset-1">
					<label class="bold">Thời gian ước tính (Giờ): </label> <input
						data-ng-model="vm.projecttask.estimateTime" type="number" autofocus="autofocus"
						class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 margin-top-10">
					<label class="bold">Trạng thái: </label>
					<ui-select ng-model="vm.projecttask.currentStep" sortable="true" close-on-select="true"
						style="width: 100% !important;">
						<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices repeat="step in vm.stepsPopup | propsFilter: {name: $select.search}">
							<div class="bold" ng-bind-html="step.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>

				<div class="col-md-6 margin-top-10">
					<label class="bold">Mức độ ưu tiên: </label>
					<ui-select ng-model="vm.projecttask.priority" sortable="true" close-on-select="true"
						style="width: 100% !important;">
						<ui-select-match allow-clear="true" placeholder="Xin mời chọn...">{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices repeat="priority in vm.prioritys | propsFilter: {name: $select.search}">
							<div class="bold" ng-bind-html="priority.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 margin-top-10">
					<label class="bold">Chủ trì: </label>
					<div class="col-md-12 list-person">
						<table class="table table-striped" ng-if="vm.chairman != null && vm.chairman.taskOwner != null">
							<tbody>
								<tr>
									<td class="table-border-left" style="border-left: 2px solid #f4f4f4 !important;">
										{{vm.chairman.taskOwner.displayName}}</td>
									<td><a ng-click="vm.chairmanRemove()"> Xóa </a></td>
								</tr>
							</tbody>
						</table>
						<div ng-if="vm.isView != true">
							<button type="button" class="btn btn-default btn-sm" ng-click="vm.showModalChairPerson()">
								<span class="glyphicon glyphicon-plus"></span> Chọn chủ trì
							</button>
						</div>
						<!-- <input ng-if="vm.projecttask.isOtherChairPerson == true" data-ng-model="vm.projecttask.chairPersonName" type="text" autofocus="autofocus" class="form-control" />
                                <div class="checkbox margin-top-10">
                                    <label>
                                        <input type="checkbox" ng-model="vm.projecttask.isOtherChairPerson">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        <b> Chọn người chủ trì khác</b>
                                    </label>
                                </div> -->
					</div>
				</div>

				<div class="col-md-6 margin-top-10">
					<label class="bold">Người tham gia: </label>
					<div class="col-md-12 list-person">
						<table class="table table-striped" ng-if="vm.members != null && vm.members.length > 0">
							<tbody>
								<tr ng-repeat="person in vm.members">
									<td class="table-border-left" style="border-left: 2px solid #f4f4f4 !important;">
										{{person.taskOwner.displayName}}</td>
									<td><a ng-click="vm.ortherPersonRemove($index)"> Xóa </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="vm.isView != true">
						<button type="button" class="btn btn-default btn-sm" ng-click="vm.showModallistPerson()">
							<span class="glyphicon glyphicon-plus"></span> Thêm người tham
							gia
						</button>
					</div>
				</div>

			</div>

			<div>
				<div class="row form-group row margin-top-10">
					<uib-tabset class="text-bold" active="activeForm">
						<!--  ================= Tab 1 =================== -->
						<!--  ====================================================== -->
						<uib-tab index="0" heading="Đóng góp ý kiến">
							<div class="panel panel-default" style="border: solid 1px #cddbd1;">
								<!-- <div class="panel-heading text-center"> Đăng ký</div> -->
								<div class="panel-body">
									<div class="row margin-top-10">
										<div class="col-md-12">
											<button type="button" class="btn btn-default" ng-if="vm.isNew != true"
												ng-click="vm.addComment()">Thêm
												comment</button>
										</div>
										<div class="row" ng-if="vm.listComment.length > 0">
											<div class="col-md-12 margin-top-10">
												<table id="bsTableControlComment"
													bs-table-control="vm.bsTableControlComment"></table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</uib-tab>
						<uib-tab index="1" heading="File đính kèm">
							<div class="panel panel-default" style="border: solid 1px #cddbd1;">
								<!--  ================= Tab 2 =================== -->
								<!--  ================================================ -->
								<div class="panel-body">
									<div class="row form-group">
										<div class="row margin-top-10">
											<div class="col-md-12">
												<a class="no-content1 display-block link"
													style="padding: 8px 0 !important; font-weight: 600 !important;"
													ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="*/*"
													ngf-max-size="5MB"> <i class="fa fa-cloud-upload"></i> Chọn tệp tin
													đính kèm
												</a>
											</div>
											<div class="col-md-12 margin-top-10"
												ng-if="vm.errorFile != null && vm.errorFile.$error != ''">
												Có lỗi: <span class="bold" ng-if="vm.errorFile.$error == 'maxSize'">Kích
													thước
													tệp tin không được lớn hơn {{vm.errorFile.$errorParam}}</span> <span
													class="bold"
													ng-if="vm.errorFile.$error != null && vm.errorFile.$error != 'maxSize'">Tệp
													tin {{vm.errorFile.name}} không hợp lệ.</span>
											</div>
											<div class="row" ng-if="vm.projecttask.attachments.length > 0">
												<div class="col-md-12 margin-top-10">
													<table id="bsTableControl4Files"
														bs-table-control="vm.bsTableControl4Files"></table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</uib-tab>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
	<button type="button" ng-click="vm.saveProject()" class="btn btn-primary" data-dismiss="modal">Lưu</button>
</div>